/* About page title */
.ddd {
    font-size: 1.72rem;
  }

.navi-link {
    color: #0093D5;
}

.service-icon {
    color: #F7941D;
}

.service-block h3 {
    color: #0093D5;
}

.service-block p {
    color: #DDDDDD
}
  
.blue {
    color: #0093D5 !important; 
  }

.border-meghna.blue:before {
background-color: #0093D5;
}
  